:root {
  --main-background-color: #e5e5e5;
  --main-white-color: #ffffff;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --dark-bg-color: #2f303a;
  --accent-color: #2196f3;
  --background-button: #f5f4fa;
  --contact-color: #ffffff99;
  --logo-color: #000000;
  --border-color-line: #ececec;
  --border-box-color: #eeeeee;
  --social-icons-color: #afb1b8;
  --grid-item: 3;
  --font-title: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-title);
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

h2,
h3 {
  color: var(--title-text-color);
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo__title {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

.logo__title--color {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo__title--light {
  font: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-white-color);
}

.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--background-button);
  cursor: pointer;
  border-radius: 4px;
  transition: color var(--animation), background-color var(--animation);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

.filter {
  display: flex;
}

.filter__button {
  min-width: 73px;
  left: 876px;
  align-content: center;
  margin-right: 8px;
  padding: 6px 22px;
  transition: box-shadow var(--animation), color var(--animation), background-color var(--animation);
}

@media screen and (max-width: 767px) {
  .filter__button {
    margin-bottom: 15px;
  }
}

.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
  transform: translateY(103%);
  transition: transform var(--animation);
}

.card__link:hover .card-thumb__content {
  transform: translateY(0);
}

.social-icons {
  display: inline-flex;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icons-color);
}

.social-icons__icon {
  transition: fill var(--animation);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--main-white-color);
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons--footer-color {
  fill: var(--main-white-color);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.grid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-top: 30px;
  margin-right: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.header {
  background-color: var(--main-white-color);
}

.header__container {
  display: flex;
  align-items: center;
  flex-basis: 80px;
}

.header__line {
  border-bottom: 1px solid var(--border-color-line);
}

.navigation__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .navigation__container {
    display: none;
  }
}

.navigation__list {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
}

.navigation__item {
  position: relative;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--animation);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts__block {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__block {
    font-size: 12px;
    margin-left: 84px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__block {
    display: none;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  fill: var(--main-text-color);
  transition: fill var(--animation), color var(--animation);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

.card__container {
  flex-direction: row;
}

.card__text {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

.card__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__product {
  padding: 20px 24px;
}

.card__item {
  transition: box-shadow var(--animation);
}

.card__item:hover, .card__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card__item--border {
  border-bottom: 1px solid var(--border-box-color);
  border-left: 1px solid var(--border-box-color);
  border-right: 1px solid var(--border-box-color);
  box-sizing: border-box;
}

.card__item {
  --grid-item: 1;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .card__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .card__item {
    --grid-item: 2;
    margin-right: 30px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card__item {
    --grid-item: 3;
    margin-right: 30px;
    max-width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item:nth-child(2n) {
    margin-right: 0;
  }
}

.footer {
  background-color: var(--dark-bg-color);
}

.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.footer__title {
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-white-color);
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    display: inline-block;
    margin-right: 70px;
    width: 231px;
  }
}

@media screen and (max-width: 767px) {
  .footer__address {
    margin-bottom: 60px;
  }
}

.footer__contacts {
  color: var(--contact-color);
}

.footer__item--margin {
  margin-top: 20px;
}

.footer__map {
  color: var(--main-white-color);
  text-decoration: none;
}

.footer__item {
  margin-top: 9px;
}

.footer__social {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__social {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    display: inline-block;
    align-items: flex-start;
    margin-right: 93px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__tablet {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1198px) {
  .footer__tablet {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    display: inline-block;
    min-width: 575px;
    height: 86px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__subscribe {
    align-items: center;
    text-align: center;
  }
}

.footer__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  line-height: 1.25;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--main-white-color);
  background-color: var(--dark-bg-color);
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199.98px) {
  .footer__input {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    min-width: 358px;
  }
}

.footer__button {
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .footer__button {
    display: inline-flex;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__button {
    margin-top: 20px;
  }
}

.footer__submit {
  fill: currentColor;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */