.menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  & .menu__icon-cross {
    display: none;
  }
  &.is-open .menu__icon-cross {
    display: block;
  }

  &.is-open .menu__icon-menu {
    display: none;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.mobile__menu {
  width: 100%;

  @media screen and (max-width: 767.98px) {
    position: absolute;
    height: 796px;
    background-color: rgb(230, 108, 179); //var(--main-white-color)
    display: none;
  }
  &.is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.menu__icon-menu {
  fill: var(--title-text-color);
}
.menu__icon-cross {
  fill: var(--title-text-color);
}
