.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--background-button);
  cursor: pointer;
  border-radius: 4px;

  transition: color var(--animation), background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-white-color);
  }
}

.button__accent {
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  border-radius: 4px;

  box-shadow: var(--button-shadow);
  background-color: var(--accent-color);
}
