.logo {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;

  &__title {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
    text-decoration: none;
  }

  &__title--color {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
  }

  &__title--light {
    font: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-white-color);
  }
}
