.menu__socials {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__socials {
  width: 100vw;
}

.menu__socials-link {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  @media screen and (max-width: 380px) {
    font-size: 12px;
  }
}
.menu__socials-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  bottom: 48px;
}
.menu__socials-item {
  padding-left: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &:first-child {
    padding-left: 0;
  }
}
// @media screen and (max-width: 399.99px) {
//   &:last-child {
//     padding-left: 0;
//   }
