.mobile__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767.98px) {
    position: fixed;
    top: 0;
    right: -120%;
    min-width: 320px;
    height: 100vh;
    overflow-y: scroll;

    background-color: var(--main-white-color);
    padding: 48px 40px;
    z-index: 1;
    flex-direction: column;

    transition: right ease-out 500ms;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
  }
  &.is-open {
    right: 0;
  }
}

.menu__icon-menu,
.menu__icon-cross {
  fill: var(--title-text-color);
}
