.mobile__menu {
  width: 100%;

  @media screen and (max-width: 767.98px) {
    position: fixed;
    top: 0;
    right: -100%;
    min-width: 320px;
    height: 100vh;
    overflow-y: scroll;

    background-color: var(--main-white-color);
    padding: 48px 40px;
    z-index: 1;
    transition: right var(--animation);
  }
  &.is-open {
    right: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.menu__icon-menu,
.menu__icon-cross {
  fill: var(--title-text-color);
}
