.card__container {
  flex-direction: row;
}

.card__text {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

.card__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__product {
  padding: 20px 24px;
}

.card__item {
  --grid-item: 1;
  margin-top: 30px;
  margin-left: 30px;

  transition: box-shadow var(--animation);

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    --grid-item: 2;
    margin-left: 30px;
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    --grid-item: 3;
    margin-left: 30px;
    max-width: 370p;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  &--border {
    border-bottom: 1px solid var(--border-box-color);
    border-left: 1px solid var(--border-box-color);
    border-right: 1px solid var(--border-box-color);
    //width: 370px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item:nth-child(2n) {
    margin-right: 0;
  }
}
