.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767.98px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__block {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 12px;
    margin-left: 75px;
  }

  @media screen and (max-width: 767.98px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  fill: var(--main-text-color);
  transition: fill var(--animation), color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.contacts__icon {
  margin-right: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-right: 8px;
  }
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.contacts__mobile-tel {
  @media screen and (max-width: 767.98px) {
    color: var(--accent-color);
    margin-bottom: 34px;
  }

  @media screen and (max-width: 380px) {
    font-size: 25px;
  }
}

.contacts__mobile-mail {
  @media screen and (max-width: 767.98px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }
  @media screen and (max-width: 380px) {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__mail--size {
    width: 14px;
    height: 10px;
  }
  .contacts__tel--size {
    width: 10px;
    height: 14px;
  }
}
