.grid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  &__item {
    flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
    margin-top: 30px;
    margin-left: 30px;
  }
}
