.header {
  background-color: var(--main-white-color);
}

.header__container {
  display: flex;
  align-items: center;
  flex-basis: 80px;
}

.header__line {
  border-bottom: 1px solid var(--border-color-line);
}
