.header {
  background-color: var(--main-white-color);
}

.header__container {
  display: flex;

  flex-basis: 80px;
  position: relative;

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.header__line {
  border-bottom: 1px solid var(--border-color-line);
}
