.hero {
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
}

.hero__container {
  display: block;
  justify-content: center;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  width: 700px;
}

.hero__button {
  min-width: 200px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
}
